main {
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 1rem 0;
    font-family: Oswald;
    width: 40%;
}

textarea {
    font-family: Oswald;
    width: 40%;
}

.form-title p {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}

.submit-button {
    margin-top: 2rem;
}

.submit-button button {
    font-family: Oswald;
}