body {
    box-sizing: border-box;
    margin: 0;
    font-family: Oswald, sans-serif;
}

main {
    background-color: cornsilk;
}

a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;
    color: black
}

.navbar {
    padding: 1.5rem 0;
    background-color: antiquewhite;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 5rem;
    padding: 0;
}

#separator {
    width: 2px;
    background-color: black;
}

#home {
    font-weight: 800;
}

/* Dark theme and button */

.dark {
    background-color: #112F41;
    color: #ffffff;
}

.dark button {
    background: #144098;
    color: #fff;
}

#darkTrigger {
    border-radius: 50%;
    border: 1px;
    color: white;
    background-color: black;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.light {
    background-color: white;
}

/* Color pickr */

.active {
    display: none;
}

.color-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    z-index: 1;
}

.color-picker p {
    margin: 0;
}